body{
    background: lightgray;
}
header{
    width: 100%;
    background: white;
    padding: 1px;
    text-align: center;
}
.container{
    margin-top: 15px;
    width: 30%;
    margin-left: 36%;
}
div.post{
    background: white;
}
p{
    text-align: center;
}
img{
  display: block;
  width: 100%;
}
div.post {
    display:flex
}
.somestyle{
    width: 95%;
}
.date{
    margin-top: 40px;
    color: grey;
    padding-right: 2px;
}